.card {
  border: 1px solid;
  padding: 8px;
  margin-bottom: 16px;
  width: 330px;
}
.card-header {
  padding: 8px;
  border-bottom: 1px solid;
  margin-bottom: 8px;
}
.card-title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.btn-close {
  background-color: #f0f0f0;
  border: none;
  font-size: 16px;
}